body {
	font-family: Arial, Helvetica, sans-serif;
}

.environment-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-container {
	width: 600px;
	background-color: lightgrey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}
